* {
	font-size: 20px;
	font-family: 'Baloo Bhai', cursive;
}

#photoContainer = {
  height: '100%';
  width: '800px';
  margin-left: 0px;
	margin-right: 0px;
	margin: 0 auto;
};

#photoFile = {
  height: '100%';
  width: '400px';
  visibility: hidden;
  margin-left: 0px;
	margin-right: 0px;
	margin: 0 auto;
};

